

button {
    border-radius: 5px;
    padding: 8px;
    background-color: aqua;
    font-weight: bold;
    margin-left: 100px;
    width: 100px;
   
}
div {
    margin: 16px;
    font-size: 24px;
    font-weight: 600;
}

#message {
    color: red;
}